.signupContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}

.signupBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70;
  height: 70%;
  max-width: 400px;
  max-height: 500px;
  border-radius: 5px;
  font-size: 26px;
  padding: 35px;
  justify-content: space-between;
  align-items: center;
}

.signupButton {
  padding: 15px 30px;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
}

.signupButton:hover {
  cursor: pointer;
}

.signupButton:active {
  background-color: #c4498c;
  transform: translateY(4px);
}
